
MONGODB_URI=mongodb://127.0.0.1:27017/n8n


NEXT_PUBLIC_APP_URL=http://localhost:8000

NEXTAUTH_URL=http://localhost:8000
# cookie encryption 
# generate key
NEXTAUTH_SECRET=M9kF++=



GOOGLE_CLIENT_ID=4
GOOGLE_CLIENT_SECRET=GOCn--765
DEVELOPPER_KEY=-


# GCP project and topic
GCP_PROJECT_ID=
GMAIL_PUBSUB_TOPIC=
# generate this, yourself
GMAIL_PUBSUB_VERIFICATION_TOKEN=



# TESTING PURPOSE
GOOGLE_ACCESS_TOKEN=
GOOGLE_REFRESH_TOKEN=


# WEB_HOOK_URL=https://my-next-webhook-001.loca.lt

WEB_HOOK_URL=https://academic-race-boost-disabilities.trycloudflare.com 


NOTION_API_KEY=

SLACK_KEY=xoxb-





# model providers
FIRE_WORKS_API_KEY=

CEREBRAS_API_KEY=csk-
GOOGLE_GEN_AI_KEY=-

# search providers

EXA_SEARCH_API_KEY=

# pinecone vector db
PINECONE_API_KEY=
PINECONE_INDEX=my-doc
# Optional
PINECONE_ENVIRONMENT=


# embedding model
COHERE_API_KEY=


